.birthdayimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 70%;
}

.grid_1-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  margin-top: 2rem;
}

.grid_1-7 img {
  width: 70%;
  height: auto;
  justify-self: center;
}
